<body>
	<%= render partial: "admin/header" %>
	<%= render partial: "admin/lframe" %>
	<div name="right_frame" align="center" style="float:left; border:2px solid black; width:881px; height:480px;">
    <h1>Books</h1>
    <%= render partial: 'list' %>
    <br><br>
  </div>
  <%= render partial: "admin/footer" %>
</body>