<body>
	<%= render partial: "header"%>
	<%= render partial: "lframe" %>
	<div name="right_frame" align="center" style="float:left; border:2px solid black; width:881px; height:480px;">
		<h1>Book Issue Details</h1>
	 	<table name="book_issue_records" border = "1">
      <tr>
        <td>Issue Id</td>
        <td>Book Name</td>
        <td>Book ID</td>
        <td>Student Name</td>
        <td>Student Id</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      	<td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      	<td></td>
      </tr>
 		</table>
	</div>
	<%= render partial: "footer" %>
</body>
