<html>
	<head>
		<title>
			home
		</title>
	</head>
	<body>
		<div name="header" align="center"  style="border:2px solid black; height:90px;">
			<h1>LIBRARY MANAGEMENT SYSTEM<h1>
		</div>
		<div name="left_frame"  align="center" style="float:left; border:2px solid black; width:30%;height:480px">
			<div name="add_book" align="center" style="border-bottom:1px solid black;height: 160px">
				<%= link_to "Add a new book" , "/add_book" %>
			</div>
			<div name="add_student" align="center" style="border-bottom:1px solid black;height:160px">
				<%= link_to "Register a New Student" , "/add_student" %>
			</div>
			<div name="book_issue" align="center" style="border-bottom:1px solid black;height:160px">
				<%= link_to "View Book Issue details" , "/book_issue_details" %>
			</div>
		</div>
		<div name="right_frame" align="center" style="float:left; border:2px solid black; width:881px; height:480px;">
			<h1>Book Issue Details</h1>
		 	<table name="book_issue_records" border = "1">
	      <tr>
	        <td>Issue Id</td>
	        <td>Book Name</td>
	        <td>Book ID</td>
	        <td>Student Name</td>
	        <td>Student Id</td>
	      </tr>
	      <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td></td>
	      	<td></td>
	      </tr>
	      <tr>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td></td>
	      	<td></td>
	      </tr>
	 		</table>
		</div>
		<div name="footer" align="center">
			<%= link_to "HOME","/index" %>
		</div>
	</body>
</html>
