<body>
	<%= render partial: "header" %>
		<!--<div name="left_frame"  align="center" style="float:left; border:2px solid black; width:30%;height:480px">
			<div name="add_book" align="center" style="border-bottom:1px solid black;height: 160px">
				<a href="/add_book">Add A new book </a>
			</div>
			<div name="add_student" align="center" style="border-bottom:1px solid black;height:160px">
				<a href="/add_student">Register a new student </a>
			</div>
			<div name="book_issue" align="center" style="border-bottom:1px solid black;height:160px">
				<a href="/book_issue_details">View book issue details </a>
			</div>
		</div>-->
	<div name="right_frame" align="center" style=" border:2px solid black; height:480px;">
		<h1>Request a new password</h1>
		<form name="forgot_password_form" action="" method="get">
			Enter Username <input type="text" name="username"/><br><br>
			Enter Registered Email <input type="text" name="email" value=""/><br><br>
			<input type="submit" value="Generate password request"><br>
			<%= link_to "Home","/index" %>
		</form>
	</div>
	<%= render partial: "footer" %>
</body>
