<body>
	<%= render partial: "header" %>
	<%= render partial: "lframe" %>
	<div name="right_frame" align="center" style="float:left; border:2px solid black; width:881px; height:480px;">
		<h1>Login As Admin</h1>
		<form name="login_form" action="/admin_home" method="get">
			Enter Username <input type="text" name="username"/><br><br>
			Enter Password <input type="password" name="password" value=""/><br><br>
			<input type="submit" value="Login"><br>
			<%= link_to "Forgot your password" , "/forgot_password" %>
		</form>
	</div>
	<%= render partial: "footer" %>
</body>
