hello<a href="demo">Go to demo</a>


<% 
=begin
<html>
	<center>
		<p> Enter a new book in record </p>
		<form name="add_book" action=""  method="post">
			Name   <input type="text" name="book_name"/><br><br>
			Author <input type="text" name="book_author"/><br><br>
			Price<input type="text" name="book_price"/><br><br>
			Select category  <select name="category_id">
			  <option value="">programming</option>
		  	<option value="">mathematics</option>
		  	<option value="">motivational</option>
			</select><br><br>
			<input type="submit" value="add">
		</form>
	</center>
<html>

<html>
	<center>
		<p> New student registration </p>
		<form name="add_student" action=""  method="post">
			Name   <input type="text" name="student_name"/><br><br>
			City <input type="text" name="student_city"/><br><br>
			Email <input type="text" name="student_email"/><br><br>
			Select department  <select name="department_id">
			  <option value="">mechanical</option>
		  	<option value="">computers</option>
		  	<option value="">humanities</option>
				<option value="">electronics</option>
			</select><br><br>
			<input type="submit" value="register">
		</form>
	</center>
<html>
=end 
%>